body {
  padding: 3rem;
  background: #6e6362;
}

a {
  color: #f2edeb;
}

.container__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  height: 30vh;
  width: 50vw;
  background: #f2edeb;
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253);
}

.form__items {
  width: 30vw;
  color: #c2efeb;
}

.form__items--button {
  width: 17vw;
  margin: auto;
}

.form__label {
  @extend .form__items;
  text-align: center;
  color: #4e4a59;
}

.container__results {
  width: 60vw;
  margin-top: 1rem;
}

.history__result {
  @extend .form__container;
  width: 20vw;
  height: 15vw;
}
